<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clockwork Reporting</title>
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="static/Favicon_2018.png" rel="icon">
  <link href="static/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <link href="static/animate.min.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- <script src="d3.html"></script> -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/app.js"></script>
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
</head>
<body>
<header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href=''>Reports</a>
            <ul>
            <li><a href="/waterfall">Waterfall</a></li>
            <li><a href="/activity">Activity</a></li>
            </ul>
            </li>
          <li><a href="/team">Team</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
    <section id="hero">
        <div class="hero-container">
            <h1>Clockwork</h1>
        </div>            
    </section>
<div class="container">

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h1>Clockwork Project Analysis</h1>
    </div>
</div>
<!-- Kevin's Work -->
<div class="col-md-2">
        <div class="well">
            <ul></ul>
            <div col-lg-12>
            <h6>Days To Close Averages</h6>
            <img src="../static/DaysToCloseAvg.png">
        </div>
            <h5>Select Variable:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)">
                <option value="closingReason">Closing Reason</option>
                <option value="seniorityName">Seniority Level</option>
                <option value="industryName">Industry Name</option>
            </select>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div id="pie"></div>
    </div>
<!-- End Kevin's Work -->
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="iframeContainer">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="/d3"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Correlations Discovered in Executive Recruiting (2015 to 2017)</h3>
                <p>Examined Key Factors</p>
                <p>Executive Title, Days to Close on Searches, Industry Category and Clockworks Performance </p>
                <p></p>
            </div>
        </div>
    </div>
    <div id="footer">
            <p></p>
    </div>
</body>
</html>
<script>
d3.json('/tableData', function(data) {
    // console.log("test")
// console.log(data['industryName'])
var x = {
    closingReason: data.closingReason,
    industryName: data.industryName,
    seniorityName: data.seniorityName
};

var daysToClose = data.daysToClose


function init() {
    getData('closingReason', buildCharts);
}

// Initialize the dashboard
init();
});

    function buildCharts(data, option) {
    var counts = {};

    Object.values(JSON.parse(data[option])).forEach(val => {
        counts[val] = counts[val] || 0;
        counts[val]++;
    });

        var pieData = [{
        labels: Object.keys(counts),
        values: Object.values(counts),
        // hovertext: data[0][closingReason],
        hoverinfo: Object.values(counts),
        type: 'pie'
        }];
        // console.log(pieData)

        var pieLayout = {
                margin: { t: 0, l: 0 }
            };

        var PIE = document.getElementById('pie');
        Plotly.newPlot(PIE, pieData, pieLayout);

    };

    function getData(option, callback) {
    // Use a request to grab the json data needed for all charts
    Plotly.d3.json('/tableData', function(error, data) {
        if (error) return console.warn(error);


            callback(data, option);
            // updateMetaData(data);
        });
    };

function optionChanged(newSample) {
    // Fetch new data each time a new sample is selected
    getData(newSample, buildCharts);
}
</script>
