<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Clockwork Reporting</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="static/Favicon_2018.png" rel="icon">
    <link href="static/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/animate.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/index.js"></script>
  </head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<body>
<header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href=''>Reports</a>
            <ul>
            <li><a href="/address">Address</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/phone">Phone</a></li>
            <li><a href="/waterfall">Waterfall</a></li>
            <li><a href="/activity">Activity</a></li>
            </ul>
            </li>
          <li><a href="/team">Team</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="team" style="margin-top: 10%">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Team</h3>
        <p class="section-description">We do data. We analze the mess outta some df's baby.</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="pic"><img src="static/images/Jessica.jpeg" style="max-width: 200px" alt=""></div>
            <h4>Jessica Hammmond</h4>
            <span>Founder, POWWER</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/jessicalhammond/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/jessicalhammond"><i class="fa fa-github"></i></a>
            </div>
          </div>
        <div class="col-lg-3 col-md-6">
          <div class="pic"><img src="static/images/Bhavani.jpeg" style="max-width: 200px" alt=""></div>
            <h4>Bhavani Yella</h4>
            <span>Head of In-Building DAS</span>
            <div class="social">
              <a href="https://www.linkedin.com/in/byella/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/jessicalhammond"><i class="fa fa-github"></i></a>
            </div>
          </div>
        <div class="col-lg-3 col-md-6">
              <div class="pic"><img src="static/images/Kevin.jpeg" style="max-width: 200px" alt=""></div>
              <h4>Kevin Jordan</h4>
              <span>Mathmtaics Tutor</span>
              <div class="social">
                <a href="https://www.linkedin.com/in/kevin-jordan-792a43110/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kjordan18/kjordan18.github.io"><i class="fa fa-github"></i></a>
              </div>
          </div>
        </div>
      </div>
  </section>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </body> 
  <!-- JavaScript Libraries -->
  <script src="static/jquery.min.js"></script>
  <script src="static/jquery-migrate.min.js"></script>
  <script src="static/bootstrap.bundle.min.js"></script>
  <script src="static/easing.min.js"></script>
  <script src="static/wow.min.js"></script>
  <script src="static/counterup.min.js"></script>
  <script src="static/hoverIntent.js"></script>
  <script src="static/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/main.js"></script>
  
  </html>
